{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription sur le site</h1>
 
    {{ form_start(form) }}

    {{ form_row(form.email, {'label': 'Adresse e-mail','attr':
    {'placeholder': 'Adresse e-mail...'}}) }}
    {{ form_row(form.confirm_email, {'label': 'Répétez votre adresse e-mail','attr':
    {'placeholder': 'Répétez votre adresse e-mail...'}}) }}
    {{ form_row(form.password, {'label': 'Mot de passe','attr':
    {'placeholder': 'Mot de passe...'}}) }}
    {{ form_row(form.first_name, {'label': 'Prénom','attr':
    {'placeholder': 'Prénom...'}}) }}
    {{ form_row(form.last_name, {'label': 'Nom','attr':
    {'placeholder': 'Nom...'}}) }}
    {{ form_row(form.adress, {'label': 'Adresse','attr':
    {'placeholder': 'Adresse...'}}) }}
    {{ form_row(form.city, {'label': 'Ville','attr':
    {'placeholder': 'Ville...'}}) }}
    {{ form_row(form.zip_code, {'label': 'Code postal','attr':
    {'placeholder': 'Code postal...'}}) }}
    {{ form_row(form.country, {'label': 'Pays','attr':
    {'placeholder': 'Pays...'}}) }}
    {{ form_row(form.phone_number, {'label': 'Numéro de téléphone','attr':
    {'placeholder': 'Numéro de téléphone...'}}) }}

    <button type="submit" class="btn btn-success">Inscription !</button>
    {{ form_end(form)}}
{% endblock %}