{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<h1>Inscription sur le site</h1>
 
    {{ form_start(form) }}

    {{ form_row(form.title, {'label': 'Titre de l\'article','attr':
    {'placeholder': 'Titre de l\'article...'}}) }}
    {{ form_row(form.description, {'label': 'Description de l\'article','attr':
    {'placeholder': 'Description de l\'article'}}) }}
    {{ form_row(form.image , {'label': 'image de l\'article','attr':
    {'placeholder': 'URL de l\'image...'}}) }}

    <button type="submit" class="btn btn-success">Ajouté l'article !</button>
    {{ form_end(form)}}
{% endblock %}
